{% extends "app1/pageTemplate.html" %}
{% block body %}
    {% load static %}
        <div class="container">
            <div class="jumbotron m-3">
                <h1 class="display-4">Master resume builder</h1>
                <p class="lead">This app allows you to create one large resume and easily talor it to each job you apply to by selecting only the relivant jobs, skills, and experience</p>
                <hr class="my-4">
            </div>
            <p> </p>
            <img src="{%static '/app1/unemployedman.jpg'%}" alt="Job Man gets a Job">
        </div>
{% endblock %}